<h1>New Work</h1>

<%= form_for @work do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>

<!-- <form data-abide novalidate>
	<div data-abide-error class="alert callout" style="display: none;">
		<p><i class="fi-alert"></i> There are some errors in your form.</p>
	</div>
	<div class="grid-x grid-padding-x">
		<div class="medium-6 cell">
			<label>Category (Required)
		<select id="select" required>
			<option value=""></option>
			<option value="album">alubm</option>
			<option value="book">book</option>
			<option value="movie">movie</option>
		</select>
	</label>
		</div>
		<div class="small-12 cell">
			<label>Title
		<input type="text" placeholder="1234" required pattern="alpha_numeric">
		<span class="form-error">
			You must provide a title
		</span>
	</label>

		</div>
		<div class="small-12 cell">
			<label>Creator
		<input type="text" placeholder="yeti4preZ" >

	</label>

		</div>

	</div>


	<div class="grid-x grid-padding-x">
		<fieldset class="large-6 cell">
			<button class="button" type="submit" value="Submit">Submit</button>
		</fieldset>
		<fieldset class="large-6 cell">
			<button class="button" type="reset" value="Reset">Reset</button>
		</fieldset>
	</div>
</form> -->
