/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require normalize-rails
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */


 * {
	list-style-image: none;
	list-style-type: none;
}

 /* .button {
	 color: #fefefe;
	 background-color: #26a69a;
	 transition: background-color 0.25s ease-out 0s, color 0.25s ease-out 0s;
 } */

main {
	max-width: 75rem;
	margin-right: auto;
	margin-left: auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
}


.row {
  max-width: 100%;
  background-color: #B2DFDB;
  border-bottom: 1px solid #EEEEEE;
  margin-bottom: 10px;
  padding: 25px 20px 10px 20px;
}

.row h2 {
	text-align: center;
	margin:25px auto 40px auto;
}

.tagline-in-header {
	color: #ffffff;
}

.site-name-in-header {
	color: #FF5722;
	padding-right: 25px;
	margin-right: 15px;
	border-right: #ffffff 2px solid;

}


 /* colors!
 #000000
 #0a0a0a
 #26a69a
 #555555
 #6a8e46
 #888888
 #b2dfdb
 #b40000
 #cacaca
 #eeeeee
 #fefefe
 #ff5722
 #ffffff
 */
